@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main,
html,
body {
  scroll-behavior: smooth;
  background-color: #fefafa;
}

section {
  /*background: rgba(254, 250, 250, 1);*/
  background: #faffff;

  /*min-height: 100vh;*/
}

.container {
  width: 1420px;
  margin: 0 auto;
}

.cover {
  display: block;
  width: 100%;
  height: 100%;
  background-color: gray;
  object-fit: cover;
}

.main-list {
  display: flex;
  padding-top: 20px;
}

.main-title {
  color: rgba(106, 65, 98, 0.7);
  font-size: 18px;
}

.item-link {
  margin-right: 30px;
  color: #6a4162;
}

.main-heading {
  color: #6a4162;
  font-size: 40px;
}

.main-container {
  border-left: 1px solid pink;
  border-right: 1px solid pink;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50px 183px 2fr 1fr 50px;
  grid-template-areas:
    "header  cover-second"
    "heading cover-second"
    "cover   cover-second"
    "cover   title"
    "cover   order";
  grid-gap: 15px 30px;
  padding: 0 100px 30px;
}

.btn {
  display: inline-block;
  background-color: #d46a92;
  padding: 15px 30px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.slider .btn,
.slick-button-prev,
.slick-button-next {
  background-color: rgba(246, 210, 214, 1);
  transition: 0.4s;
  border-radius: 5px;
}

.slider .btn:hover,
.slick-button-next:hover,
.slick-button-prev:hover {
  background-color: rgba(212, 106, 146, 1);
}

.logo {
  position: absolute;
  width: 88px;
  height: 66px;
  object-fit: cover;
  left: 13px;
  top: 13px;
}

.main-container {
  position: relative;
}
.about-heading {
  font-size: 35px;
  color: rgba(106, 65, 98, 1);
}
.about-title {
  padding-top: 50px;
  font-size: 18px;
  color: rgba(106, 65, 98, 0.7);
}

.about-container {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 25px 25px 1fr 25px;
  grid-template-areas:
    "about-heading . about-second-cover"
    "about-title about-cover about-second-cover"
    "about-title about-cover about-second-cover"
    "about-title about-cover .";
  grid-gap: 10px;
  padding-top: 43px;
}

.cover-wrapper {
  padding-right: 20px;
}

.catalog-heading {
  font-size: 36px;
  color: rgba(106, 65, 98, 1);
  padding-bottom: 34px;
}

.catalog-title {
  font-size: 18px;
  color: rgba(106, 65, 98, 0.7);
  padding-bottom: 50px;
}

.slider-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.slider-tabs {
  display: flex;
}

.tab {
  color: rgba(106, 65, 98, 1);
  margin-right: 38px;
  font-size: 18px;
  cursor: pointer;
}

.tab.active {
  color: rgba(212, 106, 146, 1);
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 35px;
}

.slider-cover {
  height: 350px;
}

.slider-title {
  text-align: center;
  font-size: 21px;
  color: rgba(106, 65, 98, 1);
  padding-top: 25px;
  padding-bottom: 12px;
}

.slider-description {
  text-align: center;
  font-size: 14px;
  color: rgba(106, 65, 98, 0.7);
  padding-bottom: 25px;
}

.slider-prise {
  align-items: center;
  font-size: 18px;
  text-align: center;
  color: rgba(106, 65, 98, 1);
  font-weight: bold;
  padding-bottom: 54px;
}

.swiper-pagination {
  width: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

#catalog {
  padding-bottom: 79px;
}

#gallery {
  padding-top: 50px;
}

.items {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 200px 100px 100px 200px;
  grid-template-areas:
    "item1 item1 item2 item3 item3"
    "item1 item1 item4 item3 item3"
    "item1 item1 item4 item5 item7"
    "item1 item1 item6 item5 item7";
}

.item-target {
  background: #f6d2d6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery-heading {
  font-size: 36px;
  color: rgba(106, 65, 98, 1);
  padding-bottom: 50px;
}

.item-title {
  text-align: center;
  font-size: 16px;
  color: rgba(106, 65, 98, 1);
  padding-bottom: 8px;
}

.item-description {
  text-align: center;
  font-size: 14px;

  color: rgba(106, 65, 98, 0.7);
  padding-bottom: 24px;
}

.item-link {
  text-align: center;
  font-size: 18px;
  color: rgba(106, 65, 98, 1);
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "box-heading box-cover"
    "box-title box-cover"
    "box-order box-cover";
}
.box-section {
  padding-top: 36px;
  padding-bottom: 36px;
}
.box-cover {
  width: 75%;
}
.box-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(106, 65, 98, 1);
  font-size: 48px;
}
.box-title {
  display: flex;
  align-items: center;
}
.slick-controls {
  display: flex;
  justify-content: flex-end;
}
.slick-button-prev {
  margin-right: 5px;
}
.slick-slider .cover {
  height: 470px;
}
.slick-slide {
  padding-right: 20px;
}
.heading-slick {
  display: flex;
  justify-content: space-between;
  padding-bottom: 65px;
}
#order {
  background-color: gray;
  background-position: center;
  background-size: cover;
  background-image: url(./img/Rectangle17.png);
  background-image: url("img/american-heritage-chocolate-5K5Nc3AGF1w-unsplash.jpg");
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.box-title {
  font-size: 18px;
  color: rgba(106, 65, 98, 0.7);
}
.comments-heading {
  font-size: 35px;
  color: rgba(106, 65, 98, 1);
}

.slick-dots {
  padding-top: 50px !important;
  transform: translateY(20px);
}
.preview {
  background-color: white;
  transform: translateX(100%);
  padding: 50px 45px;
}

.heading-underscore {
  position: relative;
}
.heading-underscore:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background-color: rgba(106, 65, 98, 1);
  left: 50px;
  bottom: -5px;
}
.title-preview {
  font-size: 28px;
  color: rgba(106, 65, 98, 1);
  padding-bottom: 19px;
}
.contact-preview {
  font-size: 18px;
  color: rgba(106, 65, 98, 0.7);
  padding-bottom: 37px;
}
.title-preview-second {
  font-size: 24px;
  color: rgba(106, 65, 98, 1);
  padding-bottom: 19px;
}
.title-description {
  font-size: 18px;
  color: rgba(106, 65, 98, 0.7);
  padding-bottom: 19px;
}

footer {
  text-align: center;
  padding: 20px;
  color: rgba(106, 65, 98, 1);
}

/*для айпада*/
@media screen and (max-width: 800px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    width: 95%;
    padding: 0 5px;
  }

  .main-list {
    flex-wrap: wrap;
    padding-left: 45px;
  }

  .logo {
    width: 45px;
    height: 35px;
  }

  .about-container {
    grid-template-columns: 1fr 1fr;
    width: 95%;
    padding: 0 5px;
    grid-template-areas:
      "about-heading about-heading"
      "about-title about-title"
      "about-cover about-cover"
      "about-second-cover about-second-cover"
      "about-second-cover about-second-cover";

    grid-template-rows: 50px 1fr;
  }

  .items {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 30vh);
    grid-template-areas:
      "item1 item2"
      "item3 item4"
      "item5 item6"
      "item7 item7";
  }
}

/*для айфона*/
@media screen and (max-width: 420px) {
  .main-container {
    grid-template-columns: 1fr;
    width: 95%;
    padding: 0 5px;
    grid-template-areas:
      "header"
      "heading"
      "cover"
      "title"
      "cover-second"
      "order";
    grid-template-rows: 1fr;
  }

  .main-list {
    flex-wrap: wrap;
    padding-left: 45px;
    display: none;
  }

  .main-heading {
    padding-top: 50px;
    font-size: 28px;
  }

  .main-list.show {
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
  }

  .main-list.show .link {
    color: white;
  }

  .logo {
    width: 44px;
    height: 33px;
  }

  .items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 90vh);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7";
  }
}
